<!-- one-way data binding -->
<!-- 1-) string interpolation binding-->
<p style="margin-left:5%">{{adi}}</p>

<strong>
  <hr></strong>

<!-- 2-) property binding-->
<p style="margin-left:5%" [innerHtml]="htmlContent"></p>

<strong>
  <hr></strong>

<!-- 3-) event binding-->
<button (click)="ekle()" style="margin-left:5%" class="btn btn-primary">Alertify-1 ile Tıkla</button>

<button (dblclick)="ekle2()" style="margin-left:5%" class="btn btn-danger">Alertify-2 ile Tıkla</button>

<button (mouseover)="ekle3()" style="margin-left:5%" class="btn btn-success">Alertify-3 ile Tıkla</button>

<button (mousedown)="ekle4()" style="margin-left:5%" class="btn btn-secondary">Alertify-4 ile Tıkla</button>
