<h1 class="text-center text-primary-text-uupercase">Global Değişken</h1>
<button (click)="toplam2()" class="btn btn-primary">Global Toplama button </button> <br />
<button (click)="cikarma2()" class="btn btn-danger">Global Çıkarma button </button><br />
<button (click)="bolme2()" class="btn btn-warning">Global Bölme button </button><br />
<button (click)="carpma2()" class="btn btn-success">Global çarpma button </button><br />

<hr>
<hr>
<h1 class="text-center text-primary-text-uupercase">Local Değişken</h1>
<button (click)="toplamLocale()" class="btn btn-primary">Local Toplama button </button> <br />
